MC=true
DATA=false
MUON_PRESELECTION=true
ELECTRON_PRESELECTION=true
EMU_PRESELECTION=true
PHOTON_PRESLECTION=false
SAMPLE_NAME=MC8TeV_ZZ
INPUT_DIR=.
OUTPUT_DIR=OutputSamples
EXTRACT_PU=true
ADDITIONAL_LEPTON_VETO=false
ZPT_CUT=false
TIGHT_ZMASS_CUT=false
WIDE_ZMASS_CUT=false
BTAG_CUT=false
DPHI_CUT=false
SIGNAL=false
HIGGS_MASS=hmass
VBF=vbf
SYSTEMATIC_VAR=NONE
